div.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(min(95%, 800px));
  margin: 0 auto;
  transition: all linear 200ms;
}

@media screen and (max-width: 500px) {
  div.todos {
    max-width: 95%;
  }
}
